*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.blockListPage{
    margin-top: 20px;
}

.blockMovieBlock{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.blockedMovie{
    width: 290px;
    margin: 0.5rem;
    position: relative;
}

.blockedMovie-Button{
    margin-right: 20px;
    margin-left: 20px
}

.blockedMovie-image{
    max-width: 100%;
}

.blockedMovie:hover .blockedMovie-genres{
    opacity: 0.6;
    width: 100%;
}

.blockedMovie-genres{
    opacity: 0;
    position: absolute;
    transition: width 1s;
    width: 100px;
    top: 0px;
    left: 0;
    right: 0;
}

.blockedMovie-genres span{
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
